In [42]:
#Import Packages
from selenium import webdriver
import time
import pandas as pd
import os

In [43]:
#Import Packages

from selenium.webdriver.support.select import Select
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC

In [44]:
#Load the web driver and get the url

driver = webdriver.Chrome(executable_path=r'C:\\Users\\Downloads\\chromedriver_win32\\chromedriver.exe')
driver.implicitly_wait(10)
driver.get('https://in.linkedin.com/jobs/search?keywords=Data%20Analyst&location=India&locationId=&geoId=102713980&f_TPR=r86400&f_E=2&position=1&pageNum=0'
)

C:\Users\AppData\Local\Temp\ipykernel_18312\15102680.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=r'C:\\Users\\Downloads\\chromedriver_win32\\chromedriver.exe')

In [45]:
# wait for while to load the site
wait = WebDriverWait(driver, 10)
element = wait.until(EC.visibility_of_element_located((By.CLASS_NAME, "results-context-header__job-count")))

In [46]:
element

In [47]:
# Get the text of the element
element_text = element.text

In [48]:
element_text

'1,000+'

In [49]:
#remove unwanted text from number
new_text = element_text.replace('+', '')
print(new_text)

1,000

In [50]:
type(new_text)

str

In [51]:
new_text = "1,000"
new_text = new_text.replace(",", "")  # remove comma
n = pd.to_numeric(new_text)

In [52]:
#Loop to scroll through all jobs and click on see more jobs button for infinite scrolling

i = 2
while i <= 16: 
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    i = i + 1
    
    try:
        send=driver.find_element_by_xpath("//button[@aria-label='Load more results']")
        driver.execute_script("arguments[0].click();", send)   
        time.sleep(3)
            
    except:
        pass
        time.sleep(5)

In [53]:
#Create empty lists for company name and job title

companyname= []
titlename= []
locationname= []

In [54]:
#Find company name and append it to the blank list
try:
    companies = driver.find_elements(By.CLASS_NAME, 'base-search-card__subtitle')
    for company in companies[:n]:
        companyname.append(company.text)
except IndexError:
    print("no")

In [55]:
len(companyname)

175

In [56]:
companyname

['Alcon',
 'CUR8',
 'ChargePoint',
 'Awign',
 'Info Origin Inc.',
 'BLITZPOKER',
 'Alcon',
 'UST',
 'UST',
 'Live Connections',
 'Shrenzo Career Pvt Ltd',
 'Renesan Software',
 'Ford Motor Company',
 'Ingersoll Rand',
 'Renesan Software',
 'Ingersoll Rand',
 'Team 4 Progress Technologies',
 'EJT GROUP',
 'ResMed',
 'Infogain',
 'Mastercard',
 'Reveille Technologies,Inc',
 'Tekskills Inc.',
 'Tanishi Consultants Pvt. Ltd.',
 'Pixeldust Technologies',
 'Attrillion Services Private Limited',
 'D Square Consulting Services Pvt Ltd',
 'Eagletfly Solutions',
 'Idam Infrastructure Advisory Pvt. Ltd.',
 'Spiralogics, Inc.',
 'Attrillion Services Private Limited',
 'Tanishi Consultants Pvt. Ltd.',
 'Lexmark',
 'Ozonetel Communications',
 'Sharp Brains',
 'Attrillion Services Private Limited',
 'Equabli, Inc',
 'Encora Inc.',
 'Career Joy',
 'AstraZeneca',
 'AstraZeneca',
 'AstraZeneca',
 'AstraZeneca',
 'TekIT Software Solutions LLC',
 'Principal Global Services',
 'Hiring Prism',
 'Bhavyansh Infotech India Pvt. Ltd.',
 'Cloud Kinetics',
 'VN2 Solutions Pvt. Ltd.',
 'Aspyra HR',
 'VARITE INC',
 'NR Consulting',
 'Genpact',
 'Tekskills Inc.',
 'XtraNet Technologies Private Limited',
 'Siemens Healthineers',
 'TransOrg Analytics',
 'DATAECONOMY',
 'Aker Solutions',
 'Siemens Healthineers',
 'BNP Paribas',
 'Orcapod Consulting Services Pvt. Ltd.',
 'Honeywell',
 'Kyndryl India',
 'EVRY India',
 'Dun & Bradstreet',
 'Randstad India Pvt Ltd',
 'NICE',
 'Optum',
 'Nisum',
 'Nutanix',
 'Multi Recruit',
 'JAI AMBEE',
 'Trimplin Group',
 'Rabi Solutions',
 'NTT Ltd.',
 'Honeywell',
 'Y&L Consulting, Inc.',
 'Jubilant Ingrevia Limited',
 'SCREATIVES SOFTWARE SERVICES PVT. LTD',
 'Webunity Infotech',
 'American Express',
 'GlobalLogic Technologies Pvt Ltd',
 'Kukulkan Mangement Services',
 'Yum! Digital & Tech India',
 'Quikr',
 'Hyland',
 'Programware Pvt Ltd',
 'Information Technology Centre',
 'Siemens Healthineers',
 'Growel Softech Limited, Pune',
 'ContactPoint 360',
 'AGS CONSULTANTS',
 'DynPro Inc.',
 'Tekki Web Solutions Pvt. Ltd.',
 'Live Connections',
 'Forbes Marshall',
 'Synopsys Inc',
 'Autoone Engineering Services Pvt Ltd',
 'ADD PEARLINFO PVT. LTD.',
 'Bread Financial',
 'CGI',
 'StackNexus, Inc.',
 'Team 4 Progress Technologies',
 'Peepal Consulting',
 'ADD PEARLINFO PVT. LTD.',
 'Wipro',
 'Kool Koders',
 'Primus Software Corporation',
 'CA-One Tech Cloud Inc',
 'Apidel Technologies',
 'Kloudrac Group',
 'QUISCON BIOTECH',
 'QUISCON BIOTECH',
 'VEGA Intellisoft Private Limited',
 'SCS Tech India Pvt Ltd',
 'Apidel Technologies',
 'Knowledge Synonyms',
 'Kadel Labs',
 'LTIMindtree',
 'Avestan Technologies LLC',
 'ATMECS Global Inc',
 'SSS IT Solutions',
 'engineersmind',
 'QUISCON BIOTECH',
 'VEGA Intellisoft Private Limited',
 'VOCO Technologies',
 'SWIRL速',
 'SAPPHIRE MANAGEMENT CONSULTANCY LIMITED',
 'ITC Infotech',
 'Propel Technology Group Inc',
 'QUISCON BIOTECH',
 'Pattern速',
 'Services Mantra',
 'Hyring.com',
 'Libsys Inc',
 'Hyland',
 'VEGA Intellisoft Private Limited',
 'Hyring.com',
 'QUISCON BIOTECH',
 'Siemens Healthineers',
 'Strats360 Technolabs LLP',
 'Apidel Technologies',
 'Societe Generale Global Solution Centre',
 'FossGen Technologies',
 'Persistent Systems',
 'DIATOZ: Digital A to Z Solutions',
 'SITA',
 'Hyland',
 'Analytics Saves at Work',
 'Analytics Saves at Work',
 'SPC Services [MSPC Services Pvt Ltd]',
 'Webunity Infotech',
 'Angel Global Technology',
 'American Express',
 'Parkhya Solutions Pvt. Ltd.',
 'Pacific Consulting',
 'Luxoft India',
 'NTT Ltd.',
 'sayeishaa mep and arch solution pvt. ltd.',
 'Kloudrac Group',
 'Deloitte Asia Pacific',
 'eSolutionsFirst',
 'PamTen Inc',
 'Pentagon Consultancy Services',
 'TIGI HR 速',
 'Aegis Softtech',
 'TIGI HR 速',
 'SWI - Innovation Delivered',
 'Accenture in India',
 'Right Move Staffing Solutions Private Limited',
 'CHKOKKO',
 'McCormick & Company',
 'Mobile Programming LLC',
 'Vicharak']

In [57]:
#Find the job title name and append it to the blank list

try:
    title = driver.find_elements(By.CLASS_NAME, 'base-search-card__title')
    for title in title[:n]:
        titlename.append(title.text)
except IndexError:
    print("no")

In [58]:
len(titlename)

175

In [59]:
#Find job location and append it to the blank list
try:
    location = driver.find_elements(By.CLASS_NAME, 'job-search-card__location')
    for location in location[:n]:
       locationname.append(location.text)
except IndexError:
    print("no")

In [ ]:
#Create dataframe for company name, job title and location

companyfinal=pd.DataFrame(companyname,columns=["company"])
titlefinal=pd.DataFrame(titlename,columns=["title"])
locationfinal=pd.DataFrame(locationname,columns=['location']

In [61]:
len(locationname)

175

In [63]:
#Create dataframe for company name, job title and location
col =["Company Name", "Job Title", "Location Title"]
df=pd.DataFrame({"Company Name":companyname,"Job Title":titlename,"Location Title":locationname})

In [64]:
df.head()

       Company Name            Job Title               Location Title
0             Alcon  Data Analyst - RDIT  Bengaluru, Karnataka, India
1              CUR8         Data Analyst     Gurugram, Haryana, India
2       ChargePoint         Data Analyst      Gurgaon, Haryana, India
3             Awign         Data Analyst   Mumbai, Maharashtra, India
4  Info Origin Inc.         Data Analyst  Bengaluru, Karnataka, India

In [73]:
#Save file in your directory
df.to_csv("LinkedIN_jobs_India.csv")

In [71]:
#Close the driver

driver.close()